<!DOCTYPE html>
<html lang="en">

include "parts/head.htm"

<body>

<!-- Wrap all page content here -->
<div id="wrap">

    <!-- Fixed navbar -->
    include "parts/navbar.htm"

    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="page-header">
                    <h1>Тесты API</h1>
                </div>

                <table class="table table-striped" id="test-results">
                    <thead>
                        <tr>
                            <th>Запрос</th>
                            <th>Группа</th>
                            <th>Название</th>
                            <th>Схема</th>
                            <th></th>
                            <th>Результат</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>

                </table>


                <!--cinclude "parts/disqus.htm"-->
            </div>

            <div class="col-md-3 hidden-xs hidden-sm sidebar-column">
                <div data-spy="affix" data-offset-top="40" data-offset-bottom="200" class="sidebar-affix">
                    <ul class="nav bs-sidenav">
                        <li class="">
                            <a href="#">Ссылки</a>
                            <ul class="nav">
                                <li><a href="#js-href-http_codes">Something</a></li>
                                <li><a href="#js-href-http_errors">Nevermore</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="push"></div>
</div>

include "parts/footer.htm"

<script type="text/html" id="test-row-template">
    <tr data-testname="<%= name %>">
        <td><code><%= request %></code></td>
        <td><%= group %></td>
        <td><%= title %></td>
        <td><% _.each(schemas, function(item){ %>
                <a href="<%= item %>"><%= _.last(item.split('/')) %></a>
            <% }); %></td>
        <td><a href="#" class="js-test-run" data-testname-run="<%= name %>"><span class="glyphicon glyphicon-play"></span> Run</a></td>
        <td>
            <span class="label label-default">Не запускался</span>
            <span class="label label-danger hide">Не пройден</span>
            <span class="label label-success hide">Пройден</span>
            <span class="label label-info hide">Выполняется</span>
        </td>
    </tr>
</script>
<script src="assets/vendor/tv4/tv4.js"></script>
<script>

    var baseUrl = 'http://localhost:8888';

    var tests = [
        {
            "name": "order-get",
            "request": "GET /order/:orderId",
            "group": "Заказы",
            "title": "Получение по id",
            "schemas": ["/tux/src/schemas/order-schema.json"],
            "sources": {
                "route": "/order/:orderId",
                "tests": [{
                    "uriParams": {
                        ":orderId": 1
                    }
                }, {
                    "uriParams": {
                        ":orderId": 2
                    }
                }]
            }
        }
    ];

    var schema = {
        "title": "Order Schema",
        "type": "object",
        "properties": {
            "id": {
                "type": "integer"
            },
            "lastName": {
                "type": "integer"
            }
        },
        "required": ["id", "lastName"]
    };

    var runTest = function(testName){
        var testRow = jQuery( "[data-testname='" + testName + "']" );
        var testOptions = _.findWhere(tests, {"name": testName});
        console.log(testOptions);

        _.each(testOptions.sources.tests, function(test){

            var url = testOptions.sources.route;
            _.each(test.uriParams, function(value, key){
                url = url.replace(key, value);
            });

            url = baseUrl + url;

            console.log(url);

            $.ajax({
                url: url,
                success: function(data){
                    var result = tv4.validateMultiple(data, schema);
                    console.log(result.valid);
                    if (!result.valid) {
                        console.log(result);
                    }
                }
            });
        });


        var data = '';
    }

    var i = 1;
    var $testResult = $('#test-results tbody');
    _.each(tests, function(test){
        var template = $('#test-row-template').html();
        var $testRow = _.template(template, test);
        $testResult.append($testRow);
    });

    $('#test-results').on('click', '.js-test-run', function(e){
        var testName = $(this).attr('data-testname-run');
        runTest(testName);
        e.preventDefault();
    });

</script>

</body>
</html>