<!DOCTYPE html>
<html lang="en">

include "parts/head.htm"

<body>

<!-- Wrap all page content here -->
<div id="wrap">

    <!-- Fixed navbar -->
    include "parts/navbar.htm"

    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="page-header">
                    <h1>Тесты API</h1>
                </div>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="api-base-url" class="col-sm-2 control-label">API base url</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="API base url" id="api-base-url" name="api-base-url" value="http://localhost:8888">
                        </div>
                    </div>
                </form>

                <table class="table table-striped" id="test-results">
                    <thead>
                        <tr>
                            <th>Запрос</th>
                            <th>Группа</th>
                            <th>Название</th>
                            <th>Схема</th>
                            <th></th>
                            <th>Результат</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>

                </table>


                <!--cinclude "parts/disqus.htm"-->
            </div>

            <!--<div class="col-md-3 hidden-xs hidden-sm sidebar-column">-->
                <!--<div data-spy="affix" data-offset-top="40" data-offset-bottom="200" class="sidebar-affix">-->
                    <!--<ul class="nav bs-sidenav">-->
                        <!--<li class="">-->
                            <!--<a href="#">Ссылки</a>-->
                            <!--<ul class="nav">-->
                                <!--<li><a href="#js-href-http_codes">Something</a></li>-->
                                <!--<li><a href="#js-href-http_errors">Nevermore</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div id="push"></div>
</div>

include "parts/footer.htm"

<script type="text/html" id="test-row-template">
    <tr data-testname="<%= name %>">
        <td><code><%= request %></code></td>
        <td><%= group %></td>
        <td><%= title %></td>
        <td><a href="<%= schema %>"><%= _.last(schema.split('/')) %></a></td>
        <td><a href="#" class="js-test-run" data-testname-run="<%= name %>"><span class="glyphicon glyphicon-play"></span> Run</a></td>
        <td>
            <span class="label label-default js-result-label">Не запускался</span>
            <span class="label label-danger js-result-label hide">Не пройден</span>
            <span class="label label-success js-result-label hide">Пройден</span>
            <span class="label label-info js-result-label hide">Выполняется</span>
        </td>
    </tr>
</script>
<script src="assets/vendor/tv4/tv4.js"></script>
<script>


    var schemaBaseUrl = 'src/schemas/';

    var schemas = [
        'geopoint-schema.json',
        'vehicle-schema.json',
        'timeline-schema.json',
        'order-schema.json',
        'ride-schema.json',
        'customer-schema.json',
        'address-schema.json',
        'order-schema.json'
    ];
    _.each(schemas, function(schemaName){
        $.ajax({
            url: schemaBaseUrl + schemaName,
            dataType: 'json',
            success: function (schema) {
                tv4.addSchema(schema);
            }
        });
    });


    var tests = [
        {
            "name": "order-get",
            "request": "GET /order/:orderId",
            "group": "Заказы",
            "title": "Получение по id",
            "schema": "/tux/src/schemas/order-schema.json",
            "sources": {
                "route": "/order/:orderId",
                "tests": [{
                    "uriParams": {
                        ":orderId": 1
                    }
                }, {
                    "uriParams": {
                        ":orderId": 2
                    }
                }]
            }
        }
    ];

    var runTest = function(testName){
        var apiBaseUrl = 'http://localhost:8888';
        var $testRow = $( "[data-testname='" + testName + "']" );
        $testRow.find('.js-result-label').addClass('hide');
        $testRow.find('.label-info').removeClass('hide');
        var success = true;

        var testOptions = _.findWhere(tests, {"name": testName});
        var dfrs = [];
        _.each(testOptions.sources.tests, function(test){

            var url = testOptions.sources.route;
            _.each(test.uriParams, function(value, key){
                url = url.replace(key, value);
            });

            dfrs.push($.ajax({url: apiBaseUrl + url}));
        });

        var defer = $.when.apply($, dfrs);


        defer.done(function(){
            _.each(arguments, function(response){
                var data = response[0];
                var result = tv4.validateMultiple(data, '/order', false, false);
//                console.log(result);
                if(!result.valid) {
                    success = false;
                }
                if (!result.valid) {
                    console.log(result);
                }
            });

            if (success) {
                $testRow.find('.js-result-label').addClass('hide');
                $testRow.find('.label-success').removeClass('hide');
            } else {
                $testRow.find('.js-result-label').addClass('hide');
                $testRow.find('.label-danger').removeClass('hide');
            }
        });
    };

    var $testResult = $('#test-results');

    _.each(tests, function(test){
        var template = $('#test-row-template').html();
        var $testRow = _.template(template, test);
        $testResult.find('tbody').append($testRow);
    });

    $testResult.on('click', '.js-test-run', function(e){
        var testName = $(this).attr('data-testname-run');
        runTest(testName);
        e.preventDefault();
    });

</script>

</body>
</html>